html,body{
    width: 100%;
    height: 100%;
}

#left-column{
    width: 100%;
    height:  50%;
    float: left;
    background-color: red;
}

#right-column{
    width: 100%;
    height: 50%;
    float: right;
    background-color: green;
}